body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: lightgrey;
            color: #333;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.recipe-image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.instructions {
    text-align: left;
    margin: 20px auto;
    max-width: 80%;
    list-style-type: none;
    padding: 0;
}

.instructions h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #555;
}

.instructions ul, .instructions ol {
    margin-left: 30px;
    margin-bottom: 20px;
}

.instructions li {
    margin-bottom: 10px;
}
